* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    padding: 20px 60px;
    background-color: black;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a:hover {
   color: #999;
}

nav > a {
    text-decoration: none;
    color: rgb(233, 230, 230);
    font-weight: bold;
    font-size: 24px;
}

nav div {
    display:flex;
    gap: 30px;
}

nav div a {
    text-decoration: none;
    color: rgb(248, 241, 241);
}

#home {
    min-height: 80vh;
    padding: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#home > div:first-child {
    width: 50%;
}

#home h1 {
    font-size: 40px;
    line-height: 1.1;
    margin-bottom: 20px;
}

#home p {
    font-size: 18px;
    margin-bottom: 15px;
}

#home p:nth-of-type(2) {
    font-size: 24px;
    font-weight: bold;
}

#home a {
    display: inline-block;
    margin-top: 15px;
    padding: 12px 20px;
    background-color: black;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

#home img {
    width: 450px;
}

#about {
    padding: 80px 60px;
}

#about h2 {
   font-size: 40px;
   margin-bottom: 20px;
   text-align: center;
}

#about p {
    max-width: 700px;
    margin: 0 auto;
    line-height: 1.7;
    font-size: 18px;
    text-align: center;
}

#product {
    padding: 80px 60px;
    text-align: center;
}

#product h2 {
    font-size: 30px;
    margin-bottom: 50px;
}

#product > div {
    display: flex;
    justify-content: center;
    gap: 100px;
}

#product > div > div {
    padding: 30px;
    width: 180px;
    border-radius: 10px;
    background-color: #000000;
}

#product span {
    font-size: 32px;
    display: block;
    margin-bottom: 30px;
}

#product h3 {
    font-size: 15px;
    color: white;
}

#contact {
    padding: 80px 60px;
}

#contact h2 {
   font-size: 40px;
   margin-bottom: 20px;
   text-align: center;
}

#contact p {
    max-width: 700px;
    margin: 0 auto;
    line-height: 1.7;
    font-size: 18px;
    text-align: center;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
}

@media (max-width: 760px) {
    
    header {
        padding: 20px;
    }

    #home {
        flex-direction: column;
        text-align: center;
        padding: 40px 20px;
    }

    #home > div:first-child {
        width: 100%;
    }

    #home img {
        width: 300px;
        margin-top: 30px;    
    }

    #product > div {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
}