body {
    background-image: url('pemandangan2.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}

.profile-box {
    width: 400px;
    padding: 30px;
    height: 250px;
    background-color: rgb(232, 240, 240);
    border-radius: 20px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    margin: 100px auto;
    text-align: center;
}

.profile-box img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}

.profile-box h2 {
    margin: 15px 0 5px;
}

.profile-box p {
   color: #666;
}

.profile-box button {
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    background-color: black;
    color: white;
    cursor: pointer;
} 

.profile-box button:hover {
    background-color: #0056b3;
}

